html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  color: white;
  position: relative;
  overflow-y: hidden;
  margin: 0;
  font-size: 4.5vh;
  background: linear-gradient(
    to right top,
    #051937,
    #03235e,
    #252984,
    #5226a5,
    #8600c0
  );
  z-index: 1;
}

h1{
  text-align: center;
}


.modal {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 900;
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  transition-property: background-color, color, z-index;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.layer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(4px);
  transition: all 200ms;
  z-index: 1;

}
.modal.hidden, .modal.hidden + .layer {
  background-color: transparent;
  backdrop-filter: none;
  z-index: -1;
  color: rgba(255, 255, 255, 0);
}


.ttt-area {
  display: grid;
  width: 45vh;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.5vh;
  row-gap: 0.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.ttt-area div {
  background-color: hsl(174, 100%, 85%);
  height: 15vh;
  border-radius: 4px;
  transition: background 500ms;
}

.ttt-area .a {
  background-color: #c62abe;
}

.ttt-area .b {
  background-color: #1f89c7;
}

.score{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: bold;
  font-size: 20pt;
}
.score span.a{
  color: #c62abe;
}
.score span.b{
  color: #1f89c7;
}